<div *ngIf="firstDie && secondDie" class="dice-section__container">
  <h3 style="font-size: 1.5rem">Dice</h3>
  <div style="display: flex; align-items: center; gap: 1rem">
    <div class="die mat-elevation-z2">
      <h1>{{ firstDie.rolling$ | async }}</h1>
    </div>
    <h1>x</h1>
    <div class="die mat-elevation-z2">
      <h1>{{ secondDie.rolling$ | async }}</h1>
    </div>
  </div>
  <div style="display: flex; gap: 1rem">
    <button [disabled]="diceRolled" mat-flat-button color="accent" (click)="onRollClick()">Roll</button>
    <button [disabled]="!diceRolled" mat-button (click)="onDrawClick()">Draw it out</button>
    <button [disabled]="game!.product === -1" mat-flat-button color="error" (click)="onSkipTurnClick()">Skip Turn</button>
  </div>
</div>

