<!-- <div *ngIf="!game" style="height: 100svh">

</div> -->

<div *ngIf="game" class="game__container">
  <mat-card class="board__container">
    <h1 style="font-size: 1.75rem; text-align: center;">Multiplication Squares Online</h1>
    <div *ngFor="let row of game.currentBoard; let rowIndex = index;" class="board-row">
      <div [style.background-color]="cell.fillColor" class="cell" *ngFor="let cell of row;">
        <div class="lefttop dot"></div>
        <div class="leftbottom dot"></div>
        <div class="righttop dot"></div>
        <div class="rightbottom dot"></div>
        <line-segment
        *ngIf="rowIndex === 0"
        (segmentClickEvent)="onSegmentSelected($event, row, rowIndex)"
        [orientation]="'horiz'"
        [firstRow]="true"
        [neighbourCells]="getNeighbourCells(row, rowIndex, cell, 'horiz', true)"/>
        <line-segment
        (segmentClickEvent)="onSegmentSelected($event, row, rowIndex)"
        [orientation]="'horiz'"
        [neighbourCells]="getNeighbourCells(row, rowIndex, cell, 'horiz')"/>
        <line-segment
        *ngIf="cell.index === 0"
        (segmentClickEvent)="onSegmentSelected($event, row, rowIndex)"
        [orientation]="'vert'"
        [firstCell]="true"
        [neighbourCells]="getNeighbourCells(row, rowIndex, cell, 'vert', true)"/>
        <line-segment
        (segmentClickEvent)="onSegmentSelected($event, row, rowIndex)"
        [orientation]="'vert'"
        [neighbourCells]="getNeighbourCells(row, rowIndex, cell, 'vert')"/>
        <div class="cell-value">{{ cell.value }}</div>
      </div>
    </div>
  </mat-card>

  <div class="info-section__container">
    <mat-card>
      <dice (skipTurnEvent)="onSkipTurnEvent()" (diceRolledEvent)="onDiceRolledEvent()" [diceRolled]="diceRolled" [game]="game" (diceValuesEvent)="onDiceValueUpdate($event)" />
    </mat-card>

    <mat-card style="padding: 1rem" >
      <div class="current-turn__container">
        <h2 class="current-turn">Current Turn:</h2>
        <p>{{ game.currentPlayerTurn.name }}</p>
      </div>
    </mat-card>

    <mat-card style="padding: 1rem">
      <h1>Scores:</h1>
      <p [style.color]="player.color" *ngFor="let player of game.players">
        {{player.name}} <span style="color: black;"> - {{player.score}}</span>
      </p>
    </mat-card>


  </div>

  <div>
    <button (click)="onResetGame()" mat-button>Reset game</button>
  </div>
</div>
